<?php
/**
 * Elogic_DeveloperTest
 *
 * @copyright    Copyright (C) 2021 Elogic
 * @author       Konstantyn Plekanets <plekanets.konstantyn@elogic.com.ua>
 */
 /** @var \Elogic\DeveloperTest\Block\WeatherBlock $block */
?>
<?php if ($block->isWeatherApiEnabled()) : ?>
    <div class="weather-check" data-mage-init='{ "weatherCheck": {} }'>
        <p class="weather-title" style="font-weight: bold"><?= __('Temperature') ?></p>
        <p class="weather-content">
            <span class="weather-city"></span>
            <span class="weather-temperature"></span>
            <span class="weather-size">&#8451;</span>
            <span class="weather-time"></span>
        </p>
    </div>
<?php endif; ?>

